{{setYUIModule "le-home"}}
{{setDescription "Zainab Zahra & Ahmed Jafri are getting married on July 15th, 2018 in Mercer Island, WA."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <img src="/photos/logo.svg" width="600" style="margin: auto auto"></img>
</h1>

<ol class="timeline l-grid">
  {{#event "Walima"
        photo  = "/photos/amaliqbal.jpg"
        alt    = "Photo of Zainab and Ahmed in Lahore."
        credit = "Abeeha Zahra"}}

    {{> event/header}}
    {{> event/photo}}

    <p class="button-walima">
        <a class="button" data-icon="i" href="/walima/">See Walima Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Celebrated Nikkah Anniversary"
        time  = "December 18, 2017"
        photo = "/photos/anniversary.jpg"
        alt   = "Photo of Zainab and Ahmed during their anniversary"}}

    {{> event/header}}
    {{> event/photo}}
    {{> event/time}}
  {{/event}}

  {{#event "Eid"
        time  = "June 25, 2017"
        photo = "/photos/eid.jpg"
        alt   = "Photo of Zainab and Ahmed on Eid."}}

    {{> event/header}}
    {{> event/photo}}
    {{> event/time}}
  {{/event}}

  {{#event "Nikkah"
        time = "December 18, 2016"
        photo = "/photos/nikkah.jpg"
        alt   = "Photo of Zainab and Ahmed at their Nikkah."}}

    {{> event/header}}
    {{> event/photo}}
    {{> event/time}}
  {{/event}}
</ol>
