{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Walima Registry</h1>

    <p>
        We are registered at <a href="https://www.amazon.com/wedding/ahmed-jafri-zainab-zahra-mercer-island-july-2018/registry/22ERDZHUBI7ZN">Amazon</a>
    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="https://www.amazon.com/wedding/ahmed-jafri-zainab-zahra-mercer-island-july-2018/registry/22ERDZHUBI7ZN">
                <img src="/img/amazon.png">
            </a>
        </div>
    </div>    
    
    <p>
        We are registered at <a href="https://www.crateandbarrel.com/gift-registry/zainab-zahra-and-ahmed-jafri/r5842602">Crate and Barrel</a>
        <p>
        We are registered at <a href="https://www.myregistry.com/wedding-registry/Zainab-Zahra-and-Ahmed-Jafri-REDMOND-WA/1597552">World Market</a>
        
    </p>
</div>
