{{setPageTitle "Hotels Near Walima"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Walima</h1>

    <p class="callout">
        You should <b>call the hotels to make a reservation</b>
    </p>

    <h2>Tidewater Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.tidewaterinn.com/">tidewaterinn.com</a></li>
                <li><b>Phone:</b> 425-822-1300</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=101+East+Dover+Street+Easton,+MD+21601">
                    101 East Dover Street<br>
                    Seattle, WA 98011
                </a>
            </address>
        </div>
    </div>

    <h2>Bartlett Pear Inn</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://bartlettpearinn.com/">bartlettpearinn.com</a></li>
                <li><b>Phone:</b> 425-770-3300</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=28+South+Harrison+Street+Easton,+MD+21601">
                    28 South Harrison Street<br>
                    Seattle, WA 98011
                </a>
            </address>
        </div>
    </div>
</div>
