{{setPageTitle "Traveling to Walima"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Walima</h1>

    <p>
        We understand that many of our guests will be traveling from out of town and we hope to provide you with all of the necessary information to make your travel to Washington as easy as possible.
    </p>

    <h2>SeaTac Airport</h2>
    <p>
        The best airport to fly into is <a href="https://www.google.com/maps/place/Seattle-Tacoma+International+Airport/@47.4502499,-122.3088165,15z/data=!4m5!3m4!1s0x0:0x99d3d9c4c7dc37b7!8m2!3d47.4502499!4d-122.3088165?sa=X&ved=0ahUKEwiM2-LSrtjYAhUW4mMKHfo7BxAQ_BIIfzAK"><b>SeaTac International</b></a>. The drive from Seatac to Seattle, WA is a little over one hour (60 miles). 
    </p>

    <h2>Uber from Seatac to Seattle</h2>
    <p>
        For those of you who have Uber, there's a terminal dedicated for ride services <a href="https://www.uber.com/airports/sea-tac/"><b>Uber @ Seatac</b></a>.
    </p>
    <p>
        The rates are around $55 usually for the ride in an UberX.
    </p>
</div>
