{{setPageTitle "Outings in Area"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="outings"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Things To Do in the Area</h1>

    <p>
        Since you might be traveling a far distance to attend our walima, you probably want to stay in the area for a few days. Below are some possible things you could do before or after our walima while you’re in the Seattle, WA area.
    </p>

    <h2>Kirkland and Redmond</h2>
    <p>
        Our walima is between Redmond and Seattle. While all of our <a href="../hotels/">hotel suggestions</a> are in Seattle, Redmond and Kirkland are the cities across the lake. Both have very walkable downtowns, and each has a number of great restaurants and shops. You should be sure to take some time and explore these great Seattle suburbs!
    </p>

    <h2>Pike Place Market</h2>
    <p>
        Pike Place Market is a public market overlooking the Elliott Bay waterfront in Seattle, Washington, United States. The Market opened August 17, 1907, and is one of the oldest continuously operated public farmers' markets in the United States. If you're in the mood for seafood, this place has it!
    </p>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://pikeplacemarket.org/">http://pikeplacemarket.org/</a></li>
                <li><b>9:00am &ndash; 6:00pm</b>, Mon-Sat</li>
                <li><b>9:00am &ndash; 6:00pm</b>, Sunday</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Pike+Place+Market,+Seattle,+WA/@47.6097199,-122.3465703,16z/data=!3m1!4b1!4m5!3m4!1s0x54906ab2c151d6cb:0x60441d5f633e9f1c!8m2!3d47.6101359!4d-122.3420567">
                    86 Pike Pl<br>
                    Seattle, WA 98101
                </a>
            </address>
        </div>
    </div>

    <h2>Museum of Pop Culture</h2>
    <p>
        The Museum of Pop Culture, or MoPOP (earlier called EMP Museum) is a nonprofit museum dedicated to contemporary popular culture. 
    </p>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="https://www.mopop.org/">https://www.mopop.org/</a></li>
                <li><b>10:00am &ndash; 5:00pm</b>, Open Daily</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="https://www.google.com/maps/place/Museum+of+Pop+Culture/@47.6214824,-122.3481245,15z/data=!4m2!3m1!1s0x0:0xd1e929cd1149d812?sa=X&ved=0ahUKEwixkeWOs9jYAhUU32MKHdr6Aj0Q_BIIjQEwDw">
                    325 5th Avenue N<br>
                    Seattle, WA 98109
                </a>
            </address>
        </div>
    </div>
</div>
